<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.bom.BomDeliveryDetailDao">
  <resultMap id="bomDeliveryDetailMap" type="BomDeliveryDetail">
      <id column="id" property="id" />
      <result column="bom_id" property="bomId" />
      <result column="serial_no" property="serialNo" />
      <result column="name" property="name" />
      <result column="brand" property="brand" />
      <result column="specifications" property="specifications" />
      <result column="unit" property="unit" />
      <result column="delivery_date" property="deliveryDate" />
      <result column="delivery_amount" property="deliveryAmount" />
      <result column="delivery_by" property="deliveryBy" />
      <result column="created_at" property="createdAt" />
      <result column="updated_at" property="updatedAt" />
      <result column="created_by" property="createdBy" />
      <result column="updated_by" property="updatedBy" />
      <result column="remark" property="remark" />
      <result column="is_delete" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    bom_id, serial_no, name, brand, specifications, unit, delivery_date, delivery_amount,
    delivery_by,
    created_at, updated_at, created_by, updated_by, remark, is_delete
  </sql>
  <sql id="table">bom_delivery_detail</sql>

    <select id="getBomDeliveryDetailList"  parameterType="Map"  resultMap="bomDeliveryDetailMap">
        SELECT id, <include refid="Base_Column_List"/>
        FROM <include refid="table"/>
        <include refid="bomDeliveryDetailQuery"/>
        Order By id DESC
      LIMIT #{start},#{size}
    </select>

  <select id="getBomDeliveryDetailListCount"  parameterType="Map"  resultType="Integer">
    SELECT COUNT(id)
    FROM <include refid="table"/>
    <include refid="bomDeliveryDetailQuery"/>
  </select>

    <sql id="bomDeliveryDetailQuery">
        <where>
            is_delete = 0
            <if test="bomId != null">
                AND bom_id = #{bomId}
            </if>
            <if test="serialNo != null and serialNo != ''">
                AND serial_no = #{serialNo}
            </if>
        </where>

    </sql>

  <select id="getById" parameterType="java.lang.Long" resultMap="bomDeliveryDetailMap">
    select id, <include refid="Base_Column_List" />
    from <include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getByBomId" parameterType="java.lang.Long" resultMap="bomDeliveryDetailMap">
        select id, <include refid="Base_Column_List" />
        from <include refid="table"/>
        where bom_id = #{bomId,jdbcType=INTEGER}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from <include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="BomDeliveryDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="table"/>(<include refid="Base_Column_List"/>)
        VALUES(
        #{bomId}, #{serialNo}, #{name}, #{brand}, #{specifications}, #{unit}, #{deliveryDate}, #{deliveryAmount},
        #{deliveryBy},
        now(), now(), #{createdBy}, #{updatedBy}, #{remark}, 0
        )
    </insert>

  <update id="updateByPrimaryKeySelective" parameterType="BomDeliveryDetail">
    update <include refid="table"/>
    <set>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
        updated_at = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  
</mapper>