<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.dao.bom.BomSubDao">
  <resultMap id="bomSubMap" type="BomSub">
      <id column="id" property="id" />
      <result column="bom_id" property="bomId" />
      <result column="serial_no" property="serialNo" />
      <result column="name" property="name" />
      <result column="brand" property="brand" />
      <result column="specifications" property="specifications" />
      <result column="unit" property="unit" />
      <result column="single_amount" property="singleAmount" />
      <result column="total_amount" property="totalAmount" />
      <result column="stock_amount" property="stockAmount" />
      <result column="stock_up_amount" property="stockUpAmount" />
      <result column="purchase_amount" property="purchaseAmount" />
      <result column="delivery_date" property="deliveryDate" />
      <result column="delivery_amount" property="deliveryAmount" />
      <result column="created_at" property="createdAt" />
      <result column="updated_at" property="updatedAt" />
      <result column="created_by" property="createdBy" />
      <result column="updated_by" property="updatedBy" />
      <result column="remark" property="remark" />
      <result column="is_delete" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    bom_id, serial_no, name, brand, specifications, unit, single_amount, total_amount,
    stock_amount, stock_up_amount, purchase_amount, delivery_date, delivery_amount,
    created_at, updated_at, created_by, updated_by, remark, is_delete
  </sql>
  <sql id="table">bom_sub</sql>

    <select id="getBomSubList"  parameterType="Map"  resultMap="bomSubMap">
        SELECT id, <include refid="Base_Column_List"/>
        FROM <include refid="table"/>
        <include refid="bomSubQuery"/>
        ORDER BY id
      LIMIT #{start},#{size}
    </select>

  <select id="getBomSubListCount"  parameterType="Map"  resultType="Integer">
    SELECT COUNT(id)
    FROM <include refid="table"/>
    <include refid="bomSubQuery"/>
  </select>

    <sql id="bomSubQuery">
        <where>
            is_delete = 0
            <if test="bomId != null">
                AND bom_id = #{bomId}
            </if>
            <if test="serialNo != null and serialNo != ''">
                AND serial_no = #{serialNo}
            </if>
        </where>

    </sql>

  <select id="getById" parameterType="java.lang.Long" resultMap="bomSubMap">
    SELECT id, <include refid="Base_Column_List" />
    FROM <include refid="table"/>
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getByBomId" parameterType="java.lang.Long" resultMap="bomSubMap">
        SELECT id, <include refid="Base_Column_List" />
        FROM <include refid="table"/>
        WHERE bom_id = #{bomId,jdbcType=INTEGER}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    DELETE FROM <include refid="table"/>
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="BomSub" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="table"/>(<include refid="Base_Column_List"/>)
        VALUES(
        #{bomId}, #{serialNo}, #{name}, #{brand}, #{specifications},#{unit}, #{singleAmount}, #{totalAmount},
        #{stockAmount}, #{stockUpAmount}, #{purchaseAmount}, #{deliveryDate}, #{deliveryAmount},
        now(), now(), #{createdBy}, #{updatedBy}, #{remark}, 0
        )
    </insert>

    <insert id="batchInsert"  parameterType="ArrayList">
        INSERT INTO <include refid="table"/>
        ( <include refid="Base_Column_List" /> )
        VALUES
        <foreach collection="list" item="obj" index="index" separator="," >
            (
            #{obj.bomId}, #{obj.serialNo}, #{obj.name}, #{obj.brand}, #{obj.specifications},#{obj.unit}, #{obj.singleAmount}, #{obj.totalAmount},
            #{obj.stockAmount}, #{obj.stockUpAmount}, #{obj.purchaseAmount}, #{obj.deliveryDate}, #{obj.deliveryAmount},
            now(), now(), #{obj.createdBy}, #{obj.updatedBy}, #{obj.remark}, 0
            )
        </foreach>
    </insert>

  <update id="updateByPrimaryKeySelective" parameterType="BomSub">
    UPDATE <include refid="table"/>
    <set>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="brand != null">
            brand = #{brand,jdbcType=VARCHAR},
        </if>
        <if test="specifications != null">
            specifications = #{specifications,jdbcType=VARCHAR},
        </if>
        <if test="unit != null">
            unit = #{unit,jdbcType=VARCHAR},
        </if>
        <if test="singleAmount != null">
            single_amount = #{singleAmount,jdbcType=INTEGER},
        </if>
        <if test="totalAmount != null">
            total_amount = #{totalAmount,jdbcType=INTEGER},
        </if>
        <if test="stockAmount != null">
            stock_amount = #{stockAmount,jdbcType=INTEGER},
        </if>
        <if test="stockUpAmount != null">
            stock_up_amount = #{stockUpAmount,jdbcType=INTEGER},
        </if>
        <if test="purchaseAmount != null">
            purchase_amount = #{purchaseAmount,jdbcType=INTEGER},
        </if>
        <if test="deliveryDate != null">
            delivery_date = #{deliveryDate,jdbcType=VARCHAR},
        </if>
        <if test="deliveryAmount != null">
            delivery_amount = #{deliveryAmount,jdbcType=INTEGER},
        </if>

        <if test="updatedBy != null">
            updated_by = #{updatedBy,jdbcType=VARCHAR},
        </if>
        <if test="remark != null">
            remark = #{remark,jdbcType=VARCHAR},
        </if>
        <if test="isDelete != null">
            is_delete = #{isDelete,jdbcType=INTEGER},
        </if>
        updated_at = now()
    </set>
      WHERE id = #{id,jdbcType=INTEGER}
  </update>

    <update id="deleteByBomId" parameterType="java.lang.Long">
        UPDATE <include refid="table"/>
        SET is_delete = 1, updated_at = now()
        WHERE bom_id = #{bomId,jdbcType=INTEGER}
    </update>

  
</mapper>